server:
  port: 7000

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
         git:
          default-label: master
          uri: https://github.com/banking-nttdata-bootcamp/config-server-directory
          search-paths: blob/master/config-data
      
